<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' type="text/css" href="stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
<div class="row flex-nowrap justify-content-between align-items-center">
  <div class="col-4 pt-1">
    <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
    <span class="fs-4">NBA Managment system</span>
  </div>
  <div class="col-4 text-center">
    <h4  class="blog-header-logo text-dark">Teams main</h4>
  </div>
  <div class="col-4 d-flex justify-content-end align-items-center">
    <a href="/visitor" class="btn btn-sm btn-outline-secondary">Back</a>
  </div>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-east" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Eastern</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-west" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Western</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-east" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="row">
      <div class="col">
        <table border="1" width="100%" cellpadding="5">
          <tr>
            <th>Atlantic</th>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <table border="1" width="100%" cellpadding="5">
          <tr>
            <th>Central</th>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <table border="1" width="100%" cellpadding="5">
          <tr>
            <th>Southeast</th>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-west" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="row">
      <div class="col">
        <table border="1" width="100%" cellpadding="5">
          <tr>
            <th>Northwest</th>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td><a href="/TeamDetail"> Roster </a></td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <table border="1" width="100%" cellpadding="5">
          <tr>
            <th>Pacific</th>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
        </table>
      </div>
      <div class="col">
        <table border="1" width="100%" cellpadding="5">
          <tr>
            <th>Southwest</th>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
          <tr>
            <td rowspan="2">
              <img class="bi me-2" src="images/nlogo.png" alt width="22" height="57">
            </td>
            <td colspan=3>Team Name</td>
          </tr>
          <tr>
            <td>Roster</td>
            <td>Match Up</td>
            <td>First LineUp</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  The current season in 2021-2022, and the NBA already has a history of many years
</div>

</body>
</html>