body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cenText {
  text-align: center;
  padding: 80px;
}
.footer {
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #00B7FF; /* Цвет фона */
  color: #fff; /* Цвет текста */
  width: 100%; /* Ширина слоя */
  text-align: center;
}
.textLow{
  position: fixed;
  left: 0; bottom: 500px;
  text-align: center;
}

.stylePhoto{
  position: relative; /* Фиксированное положение */
  top:400px;
  vertical-align:bottom;
  text-align: center;
}
button {
  border-radius: 4px;
  transition: border-radius 0.2s ease-in;
}

button:hover {
  border-radius: 16px;
}
.bgteamdetail{
  background-image: url("/images/bg.png");
  height: 472px;
  width: 1130px;
  background-position: center;
  margin: auto;
  position: center;
  bottom: 50px;
}